<%- include('../base/header')%>

<%- include('../base/navbar')%>
    <link rel="stylesheet" href="/css/contribute.css">
<div>
    <img  class="image img-fluid" src="https://cdn.dribbble.com/users/398490/screenshots/4865340/mom-dribbble.gif">
</div>

<div class="container main_product">
    <div class="display_meds"> 
        <h2 class="display_text">Here are some of the meds that might benefit you!</h2>
           <div class="row">
               <% for(let Contribute of Contributes) { %>
                <div class="col-md-4">
                        <div class="card mt-3 shadow p-3 mb-4 border-success bg-light bg-gradient text-success">
                        <h1><%= Contribute.name %></h1>
                        <p>Contact - <%= Contribute.number %></p>
                        <p class="btn btn-outline-primary d-flex justify-content-center lead">Medicine > <%= Contribute.medname %></p>
                        
                    </div>
                </div>
                <% }%>
           </div>
     </div>

  
     <div class="dot">
     <div class="dots"></div>
     <div class="dots"></div>
     <div class="dots"></div>
    </div>
</div>
<div class="container">
     <div class="contribute">
    <h2 class="display_text"><i class="fas fa-hand-holding-medical"></i>   Help others by Contributing</h2>
    <div class="container text-center rounded">
        <p>Contribute your left out medicines to save others lives</p>
        <p><a class="btn btn-warning mt-2" href="/Contributes/new">Contribute</a></p>
    </div>
</div>


    <%- include('../base/footer')%>
