<%- include('base/header')%>

<%- include('base/navbar')%>

<link rel="stylesheet" href="/css/error.css">

<section class="page_statusCode">
	<div class="container">
		<div class="row">	
		    <div class="col-sm-12 ">
		        <div class="col-sm-12 col-sm-offset-1 text-center">
		            <div class="statusCode_bg">
			            <h1 class="text-center"><%=statusCode%>!</h1>		
		            </div>
		            <div class="content_box_statusCode">		
		                <p class="alert alert-primary h3" role="alert"><%=err.message%>!</p>
						<% if (process.env.NODE_ENV !== "production") { %>
							<p class="card bg-light p-3"><%= err.stack %></p>
						<% } %>
		                <a href="/Contributes" class="btn btn-lg btn-outline-success mt-2">Go to Home</a>
	                </div>
		        </div>
		    </div>
		</div>
	</div>
</section>

<%- include('base/footer')%>